@import "../../App.scss";

// Page Styles
.map-page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: move;

    &-map img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .nav {
        cursor:auto;
        z-index: 2;

        &.tokens,
        &.maps {
            box-shadow: -2px 1px 10px black;
        }
    
        &.maps {
            margin-left: auto;
        }

        &.party {
            box-shadow: 2px 1px 10px black;
        }
    }
}